@import '../../../main-scss/variables.scss';
@import '../../../main-scss/mixins.scss';

.column{
	width: 25%;
	border-radius: 4px;
	padding: 10px;

	.title {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		font-size: regular;
		height: 48px;
		color: black;
		padding-left: 12px;
		display: flex;
		align-items: center;
		user-select: none;
		position: sticky;
		top: 0;
		background-color: #e5e7ea;
	}

	.content_wrapper {
		display: flex;
		flex-direction: column;
		background-color: #ebecf0;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		padding: 6px;
		
		.body {
			
			// margin-bottom: 10px;
			.card{
				position: relative;
				display: block;
				border-radius: 4px;
				background-color: #ffffff;
				box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
				margin-bottom: 2px;
				min-height: 58px;
				padding: 12px;
				cursor: pointer;
			
				&:not(:first-of-type){
					margin-top: 8px;
				}
				>.button-remove {
					display: none;
					position: absolute;
					right: 6px;
					top: 6px;
				}
				
				&:hover{
					>.button-remove {
						display: flex;
					}
				}
				.task{
					font-size: 13px;
				}
			}
			
			.input_block{
				margin-top: 7px;
				width: 100%;
			}

			.select_block{
				width: 100%;
				margin-top: 7px;
			}
		}
	
		.footer {
			margin-top: 6px;

			.button_submit{
				display: none;
			}

			.button_add{
				background-color: $btnAdd-color;
				color: #5E6C84;
				border-radius: 3px;
				border: 1px solid $btnAdd-color;
			&:hover{
				background-color: rgb(228, 230, 228);
				border-color: #5E6C84;
				color: black;
			}
			}

			

			&.active{
				.button_add{
					display: none;
				}
				.button_submit{
					display: block;
					margin-top: 2px;
					height: 20px;
					border: 1px solid grey;
					border-radius: 3px;
					background-color: #0079BF;
					color: #FFFFFF;

					&:disabled{
						background-color: #dce1e4;
					color: #8b8989;
					}
				}
				
			}
		}
	}
	
	@include mobile-big{
		width: 100%;
	}
}
