.profile {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  user-select: none;

	.avatar{
		border-radius: 50%;
		background-color: white;
	}

  .chevron {
      &.up > svg {
      transform: scaleY(-1);
    }
  }

  .menu {
    position: fixed;
    top: 48px;
    right: 16px;
    min-width: 120px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    padding: 8px 12px;
  }
	.menuItem{
		margin-bottom: 8px;
    &:hover{
			cursor: pointer;
			background-color: rgb(231, 230, 230);
			border-radius: 4px;
		}
	}
}
