.footer {
	height: 58px;
	display: flex;
	align-items: center;
	color: #ffffff;
	background-color: #0067A3;
	margin-top: auto;
	padding-left: 12px;

	section{
		margin-right: 16px;
	}

	.info{
		position: fixed;
		bottom: 19px;
		right: 0;
	}
}