@import './variables';
@import './mixins';

body {
  margin: 0;
	font-family: $main-font;

	:root{
		--webkit-font-smoothing: antialiased;
		--moz-osx-font-smoothing: grayscale; 
	}
	
	*{
		box-sizing: border-box;
	}
	
	:hover{
		cursor: pointer;
	}

	button:disabled{
		cursor: default;
	}
	
}



