$laptop-l-width: 1440px;
$laptop-standart-width: 1024px;
$tablet-width: 760px;
$mobile-big-width: 460px;
$mobile-small-width: 375px;

$main-font: 'Roboto', sans-serif;


$card-color: #ebecf0;
$btnAdd-color: #ffffff;
